.hidden {
  display: none;
}
a,
a:visited,
a:active {
  color: blue;
}
.img {
  width: 100%;
  max-width: 694px;
}
.img img {
  width: 100%;
  border-radius: 50%;
}
button {
  height: 40px;
  padding: 0 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 2px solid black;
  border-radius: 20px;
}
button:hover {
  text-decoration: underline;
}
html,
body {
  background: white;
  margin: 0;
  color: black;
  font-size: 18px;
}
body {
  padding: 10px;
}
h1 {
  font-size: calc(18px + 4vw);
  margin: 20px 0;
}

.mono {
  font-family: monospace;
  word-wrap: break-word;
  max-width: 800px;
  white-space: pre-line;
  max-height: 143px;
  overflow-y: hidden;
  word-break: break-all;
}

.nonvisible {
  visibility: hidden;
}
